<mat-card>
    <mat-card-content>
      <p><small class="text-muted">Author: </small>{{quote.author}}</p>
      <p><small class="text-muted">Posted by: </small>{{quote.postedBy}}</p>
      <p><small class="text-muted">Date: </small>{{quote.datePosted}}</p>
      <div class="vote">
          <p>{{quote.upvote}}</p>
          <p>{{quote.downvote}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button color="primary" (click)='quoteDelete(true)' >Delete</button>
    </mat-card-actions>
</mat-card>